/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
:root {
  --cc--cyan: hsl(179, 62%, 43%);
  --cc--light--cyan: hsl(189, 57%, 64%);
  --cc-bright-yellow: hsl(71, 73%, 54%);
  --cc-light-gray: hsl(204, 43%, 93%);
  --cc-grayish-blue: hsl(218, 22%, 67%);

  --ff-karla: "Karla";
  --fw-regular: 400;
  --fw-bold: 700;
}
body {
  display: grid;
  place-items: center;
  font-family: var(--ff-karla, sans-serif);
  background-color: var(--cc-grayish-blue);
}
.price-card {
  max-width: 80%;
  border-radius: 0.25rem;
  overflow: hidden;
}
.price-card__joinus {
  background-color: var(--cc-light-gray);
  display: grid;
  gap: 1rem;
}
.joinus__title {
  color: var(--cc--cyan);
}
.joinus__text {
  color: var(--cc-bright-yellow);
}
.joinus__description {
  opacity: 0.5;
}
.price-card__subscription {
  background-color: var(--cc--cyan);
  display: grid;
  gap: 1rem;
}
.price-card__whyus {
  background-color: var(--cc--light--cyan);
}
:is(.price-card__joinus, .price-card__subscription, .price-card__whyus) {
  padding: 1.5rem;
  font-size: 1rem;
}
